/* @import '~antd/dist/antd.css'; */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* .modalStyle .ant-modal-header {
  border-radius: 20px 20px 0 0;
  background-color: #01579b;
} */

/* .newStyle {
  border-radius: 20px;
}

.ant-modal-content {
  border-radius: 20px;
}

.modalStyle2 {
  border-radius: 20px;
}  */

/* .ant-modal .ant-modal-content{
  background-color: aliceblue;
}

.modalStyle .ant-modal-content {
  background-color: #01579b;
} */


/* .ant-modal-header{
  border-bottom: #282c34 1px solid;
} */


#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.bg-primary {
  background-color: #4190F7;
}

.bg-success {
  background-color: #70C040;
}

.bg-warning {
  background-color: #EFAF41;
}

.bg-danger {
  background-color: #E23C39;
}

.your-table table {
  width: auto;
}

.button-success,
.button-error,
.button-warning,
.button-download {
    color: white;
    border-radius: 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
  
.button-success {
    background: rgb(27, 240, 76);
}
  
.button-error {
    background: rgb(252, 16, 16);
}
  
.button-warning {
    background: rgb(245, 128, 18);
}
  
.button-download {
    background: rgb(66, 184, 221);
}

.ant-table-thead .ant-table-cell {
  background-color: #1f1f1f !important;
  color: white !important;
}